{% extends 'base.html' %}

{% block content %}

<section class="bg-primary text-light text-center shadow">
    <div class="container p-5 bg-primary">
        <div class="row">
            <div class="d-md-flex bg-primary align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Digital Library</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../static/images/library-concept-illustration_114360-2788.webp" class="img-fluid p-5" alt="">
            </div>
        </div>
    </div>

</section>
{% endblock %}